[client-server]
socket = /run/mysqld/mysqld.sock
!includedir /etc/mysql/mariadb.conf.d/
!includedir /etc/mysql/conf.d/

[mysqld]
log-bin=mysql-bin
server-id=1
binlog-format=ROW         
log-basename=maestro

